<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "#", class: "navbar-brand" do %>
          <img src="https://www.getninjas.com.br/assets/home/logo-3fd47ebb30bbd287141c06bf2eb812c8b7b0d03fc982cbb667a14dc7e97a7f05.png" alt="Getninjas">
          <span>GetNinjas</span>
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        </ul>
      </div><!-- /.navbar-collapse -->
    
      <br>
      <ul class="nav nav-pills" id="sub_menu">
        <% Category.select{|x| x.sub_categories.count > 0}.each do |category| %>
          <li role="presentation" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= category.name %>
            </a>
            <ul class="dropdown-menu">
              <% category.sub_categories.each do |sub_category| %>
                <li>
                  <%= link_to sub_category.name, sub_category_url(sub_category.category.slug, sub_category.slug) %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div><!-- /.container -->
</nav>
