<div class="fields">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <%= f.object.title || "Novo Campo" %>
    </div>
    <div class="panel-body">
      <div class="row">

        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :order %>
            <%= f.select :order, options_for_select(fields_amount_for_select(f.object.sub_category), f.object.order), {}, { class: "form-control" } %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :type %>
            <%= f.select :type, options_for_select(field_types_for_select, f.object.type), {}, { class: "form-control", onchange: 'show_or_hide_options(this);' } %>
          </div>
        </div>
      </div>

      <div class="options-box">
        <hr>
          <h4>Opções</h4>
        <hr>
        <%= f.fields_for :options do |of| %>
          <%= render partial: 'options_form', locals: { f: of } %>
        <% end %>

        <hr>
        <p><%= link_to_add_associations "Adicionar opções", f, :options %></p>
      </div>
    </div>

    <div class="panel-footer text-right">
      <%= link_to_remove_associations "Remover campo", f, :fields %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
