<h4>Informações da Sub Categoria</h4>
<hr>

<div class="col-md-4">
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", placeholder: "Nome" %>
  </div>
</div>

<div class="col-md-4">
  <div class="form-group">
    <%= f.label :slug %>
    <%= f.text_field :slug, class: "form-control", placeholder: "Slug" %>
  </div>
</div>

<div class="col-md-4">
  <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category_id, options_for_select(categories_for_select, f.object.category_id), {}, { class: "form-control" }%>
  </div>
</div>

<div class="clearfix"></div>

<% unless f.object.fields.blank? %>
  <hr>
  <h4>Campos da Sub Categoria</h4>
  <hr>
<% end %>

<%= f.fields_for :fields do |ff| %>
  <%= render partial: 'fields_form', locals: { f: ff } %>
<% end %>

<hr>
<p>
  <%= link_to_add_associations "Adicionar campo", f, :fields %>
</p>
<hr>
<%= f.submit 'Salvar', class: "btn btn-primary btn-block"%>
