<div class="options">
  <div class="panel panel-info">
    <div class="panel-heading">
      <%= f.object.title.present? ? f.object.title : "Nova Opção" %>
    </div>
    <div class="panel-body">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :value %>
          <%= f.text_field :value, class: "form-control" %>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
    <div class="panel-footer text-right">
      <%= link_to_remove_associations "Remover opção", f, :options %>
    </div>
  </div>
</div>
