<div class="col-md-12">
  <h2>
    Editar Sub Categoria
    <div class="pull-right">
      <%= link_to "Back", admin_sub_categories_url, class: "btn btn-default btn-link" %>
    </div>
  </h2>
  <hr>
  <%= form_for(@sub_category, url: admin_sub_category_path(@sub_category), method: :put) do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
