<div class="col-md-12">
  <h2>Listando Sub Categorias</h2>
  <hr>
  <div class="table-responsive">
    <table class="table table-condensed table-striped table-hover">
      <thead>
        <th>Nome</th>
        <th>Slug</th>
        <th>Categoria</th>
        <th>Quantidade de campos</th>
        <th colspan="3">Ações</th>
      </thead>
      <tbody>
        <% @sub_categories.each do |sub_category| %>
          <tr>
            <td><%= sub_category.name %></td>
            <td><%= sub_category.slug %></td>
            <td><%= sub_category.category.name %></td>
            <td><%= sub_category.fields.size %></td>
            <td>
              <%= link_to 'Visualizar formulário', sub_category_path(category_slug: sub_category.category.slug, sub_category_slug: sub_category.slug) %>
              <%= link_to 'Editar', edit_admin_sub_category_path(sub_category) %>
              <%= link_to 'Apagar', admin_sub_category_path(sub_category), method: :delete, data: { confirm: 'Deseja realmente apagar esta subcategoria?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <hr>
  <%= link_to 'Nova Subcategoria', new_admin_sub_category_path, class: "btn btn-block btn-primary" %>
</div>
