<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <ol class="breadcrumb">
        <li><a href="#">GetNinjas</a></li>
        <span>»</span>
        <li class="active"><%= @sub_category.category.name %></li>
        <span>»</span>
        <li class="active"><%= @sub_category.name %></li>
      </ol>
      <h1>A maneira mais fácil de encontrar <strong>Profissionais em <%= @sub_category.name %></strong></h1>
      <h2>Preencha os dados abaixo para te apresentarmos a localização e os telefones de profissionais na sua região</h2>
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-4">
          <div class="step-box">
            <img src="https://www.getninjas.com.br/assets/ab-test/categories/chat-421cb9441bb5ee9794a814b5125adbbec9e47f770b38d1206e01e4b706474483.png">
            <br>
            <span class="steps__description"><b>1.</b> Diga qual é o serviço que você precisa</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="step-box">
            <img src="https://www.getninjas.com.br/assets/ab-test/categories/search-ccf3527a797518d19a094c4e6225d3905c3ac327b56254bee92418ce00e1da06.png">
            <br>
            <span class="steps__description"><b>2.</b> Vamos procurar os 5 melhores profissionais para você</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="step-box">
            <img src="https://www.getninjas.com.br/assets/ab-test/categories/like-a1e34bc09aa37c6fe6dd1c1dc6afa1f6768e516653331c9671a87636e5b58ced.png">
            <br>
            <span class="steps__description"><b>3.</b>  Escolha o que melhor atende suas necessidades</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper no-margin-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= form_tag '#' do %>
                <% @sub_category.fields.by_order_value.each do |field| %>
                  <div class="form-group">
                    <%= label_tag field.title %>
                    <%= send("#{field.type.downcase}_builder", field) %>
                  </div>
                <% end %>

                <%= submit_tag 'Continuar', class: "btn btn-block btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
