<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control", placeholder: "Nome" %>
</div>

<div class="form-group">
  <%= f.label :slug %>
  <%= f.text_field :slug, class: "form-control", placeholder: "Slug" %>
</div>
<hr>
<%= f.submit 'Salvar', class: "btn btn-primary btn-block"%>
