<div class="col-md-12">
  <h2>
    Editar Categoria
    <div class="pull-right">
      <%= link_to "Back", admin_categories_url, class: "btn btn-default btn-link" %>
    </div>
  </h2>
  <hr>
  <%= form_for(@category, url: admin_category_path(@category), method: :put) do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
