<div class="col-md-12">
  <h2>Listando Categorias</h2>
  <hr>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <th>Nome</th>
        <th>Slug</th>
        <th colspan="2">Ações</th>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= category.slug %></td>
            <td>
              <%= link_to 'Editar', edit_admin_category_path(category) %>
              <%= link_to 'Apagar', admin_category_path(category), method: :delete, data: { confirm: 'Deseja realmente apagar esta categoria?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <hr>
  <%= link_to 'Nova Categoria', new_admin_category_path, class: "btn btn-block btn-primary" %>
</div>
