#admin{
  .wrapper{ margin: 90px 0 90px; }
  .navbar-header{min-width: 200px;padding: 15px 0;}
  .btn-topbar {
    cursor: pointer;
    border-radius: 3px;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.3);
    background-color: #fdde4c;
    padding: 13px 0 16px;
    border: 0;
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 1.33333rem;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    width: 220px;
    color: #1e5b79;
  }
  .btn-topbar.green{ background-color: #009d61; color: #fff;}
  .field_with_errors label{ color: red; }
  .field_with_errors input{ border-color: red; }
}
