<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "#", class: "navbar-brand" do %>
          <img src="https://www.getninjas.com.br/assets/home/logo-3fd47ebb30bbd287141c06bf2eb812c8b7b0d03fc982cbb667a14dc7e97a7f05.png" alt="Getninjas">
          <span>GetNinjas</span>
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%= link_to "CATEGORIAS", admin_categories_url, class: "btn-topbar navbar-btn green" %>
          <%= link_to "SUB CATEGORIAS", admin_sub_categories_url, class: "btn-topbar navbar-btn" %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container -->
</nav>
