<!DOCTYPE html>
<html>
  <head>
    <title>Form</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="admin">
      <%= render "parts/admin/header" %>
      <div class="wrapper">
        <div class="container">
          <div class="row">
            <%= flash_message %>
            <%= yield %>
          </div>
        </div>
      </div
      <%= render "parts/footer" %>
    </div>
  </body>
</html>
